In [12]:
import pandas as pd

### Creating your own DataFrame

Suppose we have the following table:
| game_id | Name              | Genre      | Platform |
|---------|-------------------|------------|----------|
| 45      | Dota 2            | MOBA       | PC       |
| 322     | League of Legends | MOBA       | PC       |
| 32      | Mobile Legends    | MOBA       | Mobile   |
| 21      | Mario Kart        | Racing     | Switch   |
| 232     | Minecraft         | Adventure  | PS4      |

In [11]:
df = pd.DataFrame({
    'game_id': [45, 322, 32, 21, 232],
    'Name': ['Dota 2', 'League of Legends', 'Mobile Legends', 'Mario Kart', 'Minecraft'],
    'Genre': ['MOBA', 'MOBA', 'MOBA', 'Racing', 'Adventure'],
    'Platform': ['PC', 'PC', 'Mobile', 'Switch', 'PS4']
})
df

   game_id               Name      Genre Platform
0       45             Dota 2       MOBA       PC
1      322  League of Legends       MOBA       PC
2       32     Mobile Legends       MOBA   Mobile
3       21         Mario Kart     Racing   Switch
4      232          Minecraft  Adventure      PS4

### Importing DataFrame
Dataset Source: https://www.kaggle.com/datasets/gregorut/videogamesales?resource=download

In [14]:
df = pd.read_csv('vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

### Inspecting DataFrame

In [23]:
df.head(n=5)

,Name,Platform,Year,Genre,Company,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Sales,new_column
Rank,,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,new_value
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,new_value
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,new_value
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,new_value
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,new_value

In [24]:
df.tail(n=5)

,Name,Platform,Year,Genre,Company,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Sales,new_column
Rank,,,,,,,,,,,
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01,new_value
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01,new_value
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01,new_value
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01,new_value
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01,new_value

### Parts of a DataFrame

In [30]:
# df.columns
# df.index
# df.values

array([['Wii Sports', 'Wii', 2006.0, ..., 8.46, 82.74, 'new_value'],
       ['Super Mario Bros.', 'NES', 1985.0, ..., 0.77, 40.24,
        'new_value'],
       ['Mario Kart Wii', 'Wii', 2008.0, ..., 3.31, 35.82, 'new_value'],
       ...,
       ['SCORE International Baja 1000: The Official Game', 'PS2',
        2008.0, ..., 0.0, 0.01, 'new_value'],
       ['Know How 2', 'DS', 2010.0, ..., 0.0, 0.01, 'new_value'],
       ['Spirits & Spells', 'GBA', 2003.0, ..., 0.0, 0.01, 'new_value']],
      dtype=object)

### Setting DataFrame Index

In [15]:
df.set_index('Rank', inplace=True)
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

### Renaming Columns

In [17]:
columns = {
    # Key: Old Value -> Value: New Value
    "Global_Sales": "Total_Sales",
    "Publisher": "Company",
}
df.rename(columns=columns, inplace=True)
df

,Name,Platform,Year,Genre,Company,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

### Dropping Columns and Rows

In [20]:
# Dropping columns
temp_df = df.drop(columns=['Total_Sales', 'Year'])
temp_df

,Name,Platform,Genre,Company,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Rank,,,,,,,,
1,Wii Sports,Wii,Sports,Nintendo,41.49,29.02,3.77,8.46
2,Super Mario Bros.,NES,Platform,Nintendo,29.08,3.58,6.81,0.77
3,Mario Kart Wii,Wii,Racing,Nintendo,15.85,12.88,3.79,3.31
4,Wii Sports Resort,Wii,Sports,Nintendo,15.75,11.01,3.28,2.96
5,Pokemon Red/Pokemon Blue,GB,Role-Playing,Nintendo,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,Platform,Kemco,0.01,0.00,0.00,0.00
16597,Men in Black II: Alien Escape,GC,Shooter,Infogrames,0.01,0.00,0.00,0.00
16598,SCORE International Baja 1000: The Official Game,PS2,Racing,Activision,0.00,0.00,0.00,0.00
16599,Know How 2,DS,Puzzle,7G//AMES,0.00,0.01,0.00,0.00
16600,Spirits & Spells,GBA,Platform,Wanadoo,0.01,0.00,0.00,0.00

In [21]:
# Dropping rows
temp_df = df.drop(index=[1, 2, 3])
temp_df

,Name,Platform,Year,Genre,Company,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Sales
Rank,,,,,,,,,,
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01